#contenedor{
    margin: 10px;
    /* width: 75%; */
    /* display: flex;
    justify-content: center; */
}

body{
    background-image: url("imagenes/fondo.jpg");
}

.objetivo{
    border: 5px solid #9b4dca;
    background-color: #c7bbb8 ;
    color:black;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
}

.titulo{
    background-color: #c7bbb8;
    color: black;
    /* width: 250px; */
    border-radius: 25px;
    border: 2px solid #9b4dca;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    display: inline-block;
}

form{
    /* color:black; */
    background-color: #f4f4f4;
}

.objetivo p{
    font-size: 18px;
}

.boton_completar, .boton_borrar{
    float: right;
}